Repository julofinance/julo-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fransiscus-hermanto, kevin.giovanni@julofinance.com, @albertusip

.github/CODEOWNERS:

./github/**/** @fransiscus-hermanto kevin.giovanni@julofinance.com
./husky @fransiscus-hermanto

packages/components/button @fransiscus-hermanto
packages/components/card @albertusip
packages/components/typography @fransiscus-hermanto
packages/components/react @fransiscus-hermanto
packages/components/providers @fransiscus-hermanto
packages/components/input @fransiscus-hermanto

tooling/rtl-utils @fransiscus-hermanto

plop/components @fransiscus-hermanto

chore(@julo-ui/system): update version
  packages/core/system/package.json
Owners: none

chore(@julo-ui/rtl-utils): changes
  package.json
  pnpm-lock.yaml
  scripts/setup-test.ts
  tooling/rtl-utils/package.json
  tooling/rtl-utils/src/focus.ts
  tooling/rtl-utils/src/index.ts
  tooling/rtl-utils/src/render.tsx
Owners: @fransiscus-hermanto

fix(julo-ui/card): border style and unit test
  packages/components/card/package.json
  packages/components/card/src/styles.ts
  packages/components/card/tests/Card.spec.tsx
  packages/components/react/package.json
Owners: @albertusip, @fransiscus-hermanto

Card - v0.0.2
  packages/components/card/package.json
  packages/components/card/src/styles.ts
  packages/components/card/tests/Card.spec.tsx
  packages/components/react/package.json
Owners: @albertusip, @fransiscus-hermanto

docs(READMe.md): make READMe.md clearer by @hsebastianjulo
  README.md
Owners: none

docs(README.md): add Contribute point
  README.md
Owners: none

docs(README.md): add summary of key features/advantages
  README.md
Owners: none

Make README.md clearer (#6)
  README.md
Owners: none

chore: add new @julo-ui/use-watch-element-size
  packages/hooks/use-watch-element-size/package.json
  packages/hooks/use-watch-element-size/src/index.ts
  packages/hooks/use-watch-element-size/src/use-watch-element-size.ts
  packages/hooks/use-watch-element-size/src/use-watch-elements-size.ts
  packages/hooks/use-watch-element-size/src/utils.ts
  packages/hooks/use-watch-element-size/tsconfig.json
Owners: none

chore: changes
  scripts/setup-test.ts
  tooling/rtl-utils/package.json
  tooling/rtl-utils/src/mocks.ts
Owners: @fransiscus-hermanto

feat(@julo-ui/dom-utils): add isRef util
  packages/utilities/dom-utils/package.json
  packages/utilities/dom-utils/src/index.ts
  packages/utilities/dom-utils/src/is-ref.ts
Owners: none

chore: initial setup sliders
  packages/components/sliders/package.json
  packages/components/sliders/src/index.ts
  packages/components/sliders/src/range-slider/RangeSlider.tsx
  packages/components/sliders/src/range-slider/index.ts
  packages/components/sliders/src/range-slider/styles.ts
  packages/components/sliders/src/range-slider/types.ts
  packages/components/sliders/src/slider/Slider.tsx
  packages/components/sliders/src/slider/index.ts
  packages/components/sliders/src/slider/styles.ts
  packages/components/sliders/src/slider/types.ts
  packages/components/sliders/src/types.ts
  packages/components/sliders/stories/RangeSlider.stories.tsx
  packages/components/sliders/stories/Slider.stories.tsx
  packages/components/sliders/tests/Sliders.spec.tsx
  packages/components/sliders/tsconfig.json
  pnpm-lock.yaml
Owners: none

chore: add new @julo-ui/number-utils
  packages/utilities/number-utils/package.json
  packages/utilities/number-utils/src/clamp-value.ts
  packages/utilities/number-utils/src/count-decimal-places.ts
  packages/utilities/number-utils/src/index.ts
  packages/utilities/number-utils/src/remove-non-number.ts
  packages/utilities/number-utils/src/thousand-separator.ts
  packages/utilities/number-utils/src/to-number.ts
  packages/utilities/number-utils/src/to-precise-decimal.ts
  packages/utilities/number-utils/tsconfig.json
Owners: none

feat: enhance inputProps type typing
  packages/components/checkbox/package.json
  packages/components/checkbox/src/types.ts
  packages/components/radio/package.json
  packages/components/radio/src/types.ts
  packages/pluggables/plug/package.json
  packages/pluggables/text-field/package.json
  packages/pluggables/text-field/src/types.ts
Owners: none
